*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* header */

header{
    background-color: skyblue;
    padding: 20px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
}

.navbar{
    background-color: orange;
    font-size: 25px;
}

.logo{
    flex-basis: 25%;
    padding: 5px;
}

.nav{
    flex-basis: 50%;
    text-align: center;
    padding: 5px;
}

.login{
    flex-basis: 25%;
    text-align: right;
    padding: 5px;
}

/* main */

.grid-blue{
    background-color: blue;
}

.grid-grey{
    background-color: grey;
}


/* card */
.card-violet{
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    background-color: rgb(238, 130, 238);
    
}

.card-dodgerblue{
    min-height: 500px;
    background-color: dodgerblue;
    flex-basis: 60%;
}

.card-pink{
    min-height: 500px;
    background-color: pink;
    flex-basis: 40%;
}

.card-green{
    min-height: 800px;
    background-color: green;
    flex-basis: 100%;
}

.card-coral{
    min-height: 600px;
    flex-basis: 30%;
    background-color: rgb(240, 128, 128);
}

.card-seagreen{
    min-height: 600px;
    flex-basis: 70%;
    background-color: rgb(32, 178, 170);
    display: flex;
}

.card-aquamarine{
    min-height: 100px;
    flex-basis: 100%;
    background-color: rgb(127, 255, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* footer */

footer{
    background-color: rgb(35, 39, 42);
    padding-top: 10px;
    
}

.grid-darkblue{
    border-bottom: 2px solid white;
    
}

.darkblue-first{
    padding-bottom: 50px;
}

.darkblue-second{
    padding-top: 50px;
}

.column{
    flex-basis: 25%;
    border: 3px dashed white;
}

.nav-footer{
    font-size: 20px;
    padding: 5px;
    border: 2px dashed black;
    background-color: rgb(255, 182, 193);
}

/* utilities */

.border{
    border: 3px dashed black;
}

.pa-50{
    padding: 50px 0;

}