*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* header */

header{
    background-color: skyblue;
    padding: 20px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
}

.navbar{
    background-color: orange;
    font-size: 25px;
}

.logo{
    flex-basis: 25%;
    padding: 5px;
}

.nav{
    flex-basis: 50%;
    text-align: center;
    padding: 5px;
}

.login{
    flex-basis: 25%;
    text-align: right;
    padding: 5px;
}

/* main */

.grid-blue{
    background-color: blue;
}

.grid-grey{
    background-color: grey;
}

/* card */
.card-violet{
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    background-color: rgb(238, 130, 238);
    
}

.card-dodgerblue{
    min-height: 500px;
    background-color: dodgerblue;
    flex-basis: 60%;
}

.card-pink{
    min-height: 500px;
    background-color: pink;
    flex-basis: 40%;
}

/* utilities */

.border{
    border: 3px dashed black;
}

.pa-50{
    padding: 50px 0;

}